{% extends '_layout.html' %}

{% block title %}All Users{% endblock %}

{% block body %}
<h1 class="mb-5">Users</h1>
{% if recipes|length == 0 %}
<h2 class="mb-5">There are no users</p>
{% else %}
<table class="table" style="color:white">
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>Username</th>
            <th>Email </th>
            <th>Skill Rank</th>

        </tr>
    </thead>
    <tbody>
{% for user in users %}
        <tr>
            <td><a href="/users/{{user.user_id }}">{{ user.user_name }}</a></td>
            <td>{{user.email}}</td>
            <td>{{user.skill}}</td>

        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
