{% extends '_layout.html' %}

{% block title %}All Users{% endblock %}

{% block body %}
<h1 class="mb-5">Users</h1>
{% if recipes|length == 0 %}
<h2 class="mb-5">There are no users</p>
{% else %}
<table class="table" style="color:white">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email </th>
            <th>First Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Passowrd Hash</th>
        </tr>
    </thead>
    <tbody>
{% for recipe in recipes %}
        <tr>
            <td><a href="/recipes/{{recipe.recipe_id }}">{{ recipe.title }}</a></td>
            <td>{% if recipe.is_vegan %}Yes{% else %}No{% endif %}</td>
            <td>{{recipe.ingredients}}</td>
            <td>{{recipe.equipment}}</td>
            <td>{{recipe.difficulty}}</td>
            <td>{{recipe.text}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
