{% extends '_layout.html' %}

{% block title %}FlavorFeed | Edit {{recipe.title}} {% endblock %}

{% block body %}
<div class="container p-3 mt-4">

<form action="">
  <div class=" mt-2"><a href="/recipes/{{recipe.recipe_id}}/delete" class="btn btn-danger bg-red">DELETE POST</a></div>

</form>

  <form method="post" action="/recipes/{{recipe.recipe_id}}/edit" enctype="multipart/form-data">
    <div class="form-group d-flex flex row justify-content-between">
      <div class="mb-4 ml-3">
        <h2>EDIT RECIPE</h2>
      </div>
    </div>


    <div class="">
      <div> <label for="recipe_image">Image:</label>
        <input type="file" class="form-control-file" id="recipe_image" name="recipe_image" value="{{recipe.recipe_image}}" required>
      </div>

    </div>

    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" value="{{recipe.title}}" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="duration">Duration:</label>
          <input type="number" class="form-control" id="duration" name="duration" placeholder="Minutes:"
            value="{{recipe.duration}}" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="difficulty">Difficulty:</label>
          <select class="form-control" id="difficulty" name="difficulty" value="{{recipe.difficulty}}" required>
            {% macro render_option(value,title)%}
            {% if value == recipe.difficulty %}
            <option selected value="{{value}}">{{title}}</option>

            {% else %}
            <option value="{{value}}">{{title}}</option>
            {% endif %}

            {% endmacro %}
            {{render_option('Beginner','Beginner')}}
            {{render_option('Intermediate','Intermediate')}}
            {{render_option('Advanced','Advanced')}}
          </select>
        </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="is_vegan" name="is_vegan" value="{{recipe.is_vegan}}">
      <label class="form-check-label" for="is_vegan">Vegan</label>
    </div>


    <div class="form-group">
      <div class="d-flex flex-row"> <label for="tags">Recipe Tags: <p class="text-secondary">(5 tags max, use commas to
            separate)</p></label>
      </div>

      <input type="text" class="form-control" id="tags" name="tags" value="{{recipe.tags|join(',', attribute='tagname')}}">
    </div>

    <div class="form-row">
      <div class="col">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="form-group">
            <label for="equipment">Equipment:</label>
            <textarea class="form-control" id="equipment" name="equipment" rows="2"
              required>{{recipe.equipment}}</textarea>
          </div>
          <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <textarea class="form-control" id="ingredients" name="ingredients" rows="2"
              required>{{recipe.ingredients}}</textarea>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="text">Recipe Instructions:</label>
          <textarea class="form-control" id="instructions" name="instructions"
            rows="5">{{recipe.instructions}}</textarea>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-warning btn-block py-2 my-3">Upload</button>
  </form>
</div>

{% endblock %}