{% extends '_layout.html' %}

{% block title %}FlavorFeed | Profile{% endblock %}

{% block body %}

<!-- TODO: Edit user profile -->

<hr style="width: 30%">
<h2 class="fw-normal" style="letter-spacing: 1px; font-family:'Jost'; font-weight: 700; margin-left: auto; margin-right: auto; width: 12em">EDIT PROFILE (USER)</h2>
<hr style="width: 30%">

<div class="container">
    <div class="form-group">
        <label for="profile-pic">Profile Image</label>
        <div class="upload-btn-wrapper">
            <input type="file" name="profile-pic" id="profile-pic">
        </div>
    </div>


    <form method="" action="">
        <div class="form-outline mb-4">
            <label class="text-light" for="username">Username</label>
            <br>
            <input type="username" id="Username" name="username" placeholder="USER" class="form-control form-control-log"/>
        </div>

        <div class="form-outline mb-4">
            <label class="text-light" for="password">Password</label> 
            <br>
            <input type="password" id="Password" name="password" placeholder="*********" class="form-control form-control-log"/>
        </div>
    
        <div class="form-group">
            <label for="cook-type">What kind of cook are you?</label>
            <br>
            <select id="cook-type" name="cook-type">
                <option value=""></option>
                <option value="home-cook">Home Cook</option>
                <option value="professional-chef">Professional Cook</option>
                <option value="aspiring-cook">Aspiring Cook</option>
            </select>
        </div>

        <div class="form-group">
            <label for="social-media-link">Social Media Link</label>
            <br>
            <input type="text" id="social-link" name="social-link">
        </div>
  
        <div class="form-group">
            <label for="profile-info">Profile Info</label>
            <br>
            <textarea id="profile-info" name="profile-info" rows="5" cols="50" style="border-top: 40px solid black;"></textarea>
        </div>
        

        <button style="display: block; margin: 0 auto; width: 90%; border: 2px solid goldenrod; background-color: goldenrod; color: black; padding: 10px; font-size: 16px;">SAVE INFO</button>
    </form>
</div>
        {% endblock %}
