{% extends '_layout.html' %}

{% block title %}FlavorFeed | Login{% endblock %}

{% block body %}
<!-- https://mdbootstrap.com/docs/standard/extended/login/ used this page as a reference-->
<section class="vh-100" style="background-color: #651c2c;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../static/images/loginfood.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <i class="fa-sharp fa-solid fa-plate-utensils fa-sm" style="color: #f7d708;"></i>
                      <span class="h1 fw-bold mb-0">FlavorFeed</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account below:</h5>
  
                    <div class="form-outline mb-4">
                      <input type="username" id="Username" class="form-control form-control-lg" />
                      <label class="form-label" for="Username">Username</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="Password" class="form-control form-control-lg" />
                      <label class="form-label" for="Password">Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                        style="color: #393f81;">Register here</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}