{% extends '_altlayout.html' %}

{% block title %}FlavorFeed | Register{% endblock %}

{% block body %}
<!-- https://mdbootstrap.com/docs/standard/extended/login/ used this page as a reference-->
<div class="row d-flex align-items-center justify-content-center ">
    <div class="card bg-red align-self-center" style=" width: 70%; max-height: 590px; border-radius: .5em;">
      <div class="row g-0">
          <div class="col-5" style="overflow: hidden; " >
            <img style="height: 588px; border-radius: .5em 0 0 .5em;" src="../static/images/loginfood.jpg"
              alt="loginform" />
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="card-body p-4  p-lg-5 text-black">

              <form method="post" action="/register">

                <h2 class="fw-normal" style="letter-spacing: 1px; font-family:'Jost'; font-weight: 700;">REGISTER</h2>
                      <hr style="width: 30%; border-color: #ffc107;">
                      <div class="form-outline mb-2">
                        <label class="text-light" for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder='Enter Email' class="form-control form-control-log" required/>
      
                      </div>
                      <div class="form-outline mb-2">
                  <label class="text-light" for="username">Username</label>
                  <input type="text" id="Username" name="username" placeholder='Enter Username' class="form-control form-control-log" required/>

                </div>

                <div class="form-outline mb-2">
                  <label class="text-light" for="password">Password</label> 
                  <input type="password" id="Password" name="password" placeholder="Enter Password" class="form-control form-control-log" required/>

                </div>
                
                <div class="pt-1 ">
                  <button class="btn btn-warning  btn-block mb-2" type="submit">Register</button>
                </div></form>
                <center><p class="text-light small">or </p></center>
                <div class=" mb-4">
                    <button class="btn btn-light  btn-block" type="button">Sign Up with Google</button>
                  </div>
                <p class="text-light small mb-5" >Returning? 
                    <a class="text-warning" href="/login">Login here</a></p>
              

            </div>
          </div> 
        </div>
    
  </div>
</div>



{% endblock %}