{% extends '_layout.html' %}

{% block title %}Your Recipes{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    <!-- Sidebar -->
    <nav id="sidebarMenu" class=" d-lg-block sidebar  ">

        <div class="list-group list-group-flush mx-3 mt-3">

            {% if username is none %}

            {% else %}
            <h3><a class="purelink text-light text-uppercase" href="/users/{{user_id['user_id']}}">
                    {{username['username']}}</a></h3>

            <hr class="m-0 ml-5 pl-4 mb-2" style="width: 45%; border-width: 2px; border-color: #ffc107;">
            {% endif %}
            <a href="/your-posts" class="purelink pl-4 mb-1 mt-3 text-red">
                <h5>YOUR POSTS</h5>
            </a>

            <a href="/saved-recipes" class="purelink pl-4 mb-1 text-secondary">
                <h5>SAVED RECIPES</h5>
            </a>


            <a href="#" class=" purelink pl-4 mb-1 text-secondary">
                <h5>CONTACT US</h5>
            </a>
        </div>

        <div class="d-flex small justify-content-center text-secondary" style="margin-top: 85%;"> FlavorFeed © 2023
        </div>

    </nav>
    <!-- Sidebar -->


    <div class="container home-post-feed p-3" style="width: 100%;">

        <h1>YOUR POSTS</h1>
        
        <hr class="m-0 ml-5 pl-4 mb-2" style="width: 45%; border-width: 2px; border-color: #ffc107;">
        <!-- POST TEMPLATE, Iterates through all posts-->


        {% for recipe in recipes|reverse %}
        <div class="post ">
            <div class="p-2 text-secondary">{{recipe.date_posted.strftime('%b %d @ %I:%M %p')}} </div>
            <div class="card postcard">
                <!--POST IMAGE-->

                <div class="card postcard-image flex-row bg-red">

                    <img style="width:100%" src="../static/post-images/{{recipe.recipe_image}}" alt="">
                </div>


                <div class="d-flex px-3 pt-2 flex-row justify-content-between">
                    <div class="d-flex flex-row">
                        <!--RECIPE NAME-->
                        <div class="h2 m-0 pl-2 mb-2"><a class="text-light purelink"
                                href="/recipes/{{recipe.recipe_id}}">{{recipe.title}}

                            </a></div>

                        <div class="d-flex flex-row pt-2 col-2 pl-2">
                            {% if username is not none and recipe.bookmark|length > 0 %}

                            {% for bookmark in recipe.bookmark|selectattr("user_id", "equalto", user_id['user_id'] ) %}                
                                {% if bookmark|selectattr("user_id", "equalto", user_id['user_id']) %}
                                    <form method="post" action="/recipes/{{recipe.recipe_id}}/unbookmark">
                                        <button class="btn p-0">
                                            <span class="material-symbols-outlined text-red" style="font-variation-settings:'FILL' 1;">
                                                bookmark
                                            </span>
                                        </button>
                                    </form>
                                {% endif %}
                                
                            {% endfor %}
                            {% if recipe.bookmark|selectattr("user_id", "notequal", user_id['user_id']) %}
                                    <form method="post" action="/recipes/{{recipe.recipe_id}}/bookmark">
                                        <button type="submit" class="btn p-0">
                                        <span class="material-symbols-outlined text-red">bookmark</span></button>
                                    </form>
                            {% endif %}
      
                            {% else %}
                                <form method="post" action="/recipes/{{recipe.recipe_id}}/bookmark">
                                    <button type="submit" class="btn p-0">
                                        <span class="material-symbols-outlined text-red">bookmark</span></button>
                                </form>
                            {% endif %}
                            {% if recipe.bookmark|length == 0 %}
                                <span class="text-red">0</span>
                                {% else %}
                                <span class="text-red">{{recipe.bookmark|length}}</span>
                            {% endif %}

                    </div>

                    <!--DURATION TIME-->
                    <div class="d-flex flex row p-2 col-3"> <span class="material-symbols-outlined text-warning px-2">
                            nest_clock_farsight_analog
                        </span>
                        <div>{{recipe.duration}} mins </div>
                    </div>
                </div>


                <div class="d-flex px-4">
                    <div class="mr-2"><img class="rounded-circle" src="/static/profile-images/{{author.profile_picture}}" style="width: 25px; height: 25px;"></div> by <a
                        class="text-warning pl-1" href="/users/{{author.user_id}}">{{author.username}}</a>
                </div>

                <div class="d-flex mt-auto p-3 justify-content-between">

                    <div>{% for tag in recipe.tags%}
                        <a href="{{ url_for('search_tag', tagname=tag.tagname)}}"
                            class="badge badge-warning">{{tag.tagname}}</a>
                        {% endfor %}
                    </div>

                    <div><a href="#" class="text-secondary"><span
                                class="material-symbols-outlined">chat_bubble</span></a>
                        <a href="#" class="text-secondary"><span class="material-symbols-outlined">
                                more_horiz
                            </span></a>
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}

    </div>


</div>
{% endblock %}